.mainContainer {
  background-color: white;
  padding: 25px;
  border: 1px solid #a87585;
  box-shadow: 5px 5px 5px #a87585;
}

.backBtn {
  background-color: #a87585;
  border-color: rgb(104, 60, 74);
  text-shadow: 2px 2px 2px rgb(104, 60, 74);
}

.backBtn:hover {
  background-color: #c08799;
  border-color: #b67c8e;
  text-shadow: 2px 2px 2px gray;
}
.editBtn {
  padding: 0;
  margin: 0;
}

.editBtn:hover {

  color: white;
}



.deleteBtn {
  padding: 0;
  margin: 0;
}

.deleteBtn:hover {
  color: white;
}

.deleteBtn i {
  color: red;
  font-size: 120%;
  margin: 0;
  padding: 0;
}

.editBtn i {
  color: rgb(255, 143, 51);
  margin: 0;
  padding: 0;
  font-size: 120%;
}

.deleteBtn i:hover {
  color: rgb(255, 95, 95);
}

.editBtn i:hover {
  color: rgb(255, 180, 119);
}

.toolTip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.toolTip .toolTiptext {
  visibility: hidden;
  width: 40vw;
  background-color: #fff7fa;
  border: 1px solid #c08799;
  border-radius: 8px;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 75%;
  margin-left: -110px;
  transition: opacity 0.3s;
}

.toolTip:hover .toolTiptext {
  visibility: visible;
  opacity: 1;
}