.mainContainer {
    background-color: white;
    padding: 25px;
    border: 1px solid #a87585;
    box-shadow: 5px 5px 5px #a87585;
  }

  .saveBtn {
    background-color: #a87585;
    border-color: rgb(104, 60, 74);
    text-shadow: 2px 2px 2px rgb(104, 60, 74);
}

.saveBtn:hover {
    background-color: #c08799;
    border-color: #b67c8e;
    text-shadow: 2px 2px 2px gray;
}

.uploadBtn {
  background-color: #7cb6a7;
  border-color: #487065;
  color: white;
  text-shadow: 2px 2px 2px #3b5d54;
}

.uploadBtn:hover {
  background-color: #a5d9cb;
  border-color: #68998b;
  color: white;
}