.NavBar {
  background-color: #ffffff;
  border: 1px solid #dadadf;
}

.NavLink {
  padding: 2px;
  text-decoration: none;
}

.Active {
  color: #a0566d;
}

.Active i {
  color: #f59ab5;
  
}

.NavButton {
  padding: 2px;
  text-decoration: none;
  color: #555555;
}