.newUser:hover {
  background-color: #eee;
}

.followHeart,
.unfollowHeart {
  cursor: pointer;
  font-size: 1.5rem;
  color: #ce7d96;
  transition: color 0.3s ease;
}

.followHeart:hover,
.unfollowHeart:hover {
  color: #f09ab5;
}