.mainContainer {
  background-color: white;
  padding: 25px;
  border: 1px solid #a87585;
  box-shadow: 5px 5px 5px #a87585;
}

.homeBtn {
  background-color: #a87585;
  border-color: #b67c8e;
}

.homeBtn:hover {
  background-color: #c08799;
  border-color: #b67c8e;
}

.followHeart {
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .followHeart:hover {
    color: red;
  }
  
  .unfollowHeart {
    color: red;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .unfollowHeart:hover {
    color: gray;
  }
  
  .bookCoverImg {
    max-height: 200px;
  }