.reviewCard {
    transition: background-color 0.3s;
    display: flex;
  }
  
  .reviewCard:hover {
    background-color: #f0f0f0;
    border-color: #c3c3c3;
  }
  
  .reviewLink {
    text-decoration: none;
    color: inherit;
    display: flex;
    width: 100%;
  }
  
  .coverImageContainer {
    width: 100px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .coverImage {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  
  .reviewDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .reviewDetails h5 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .reviewDetails p {
    margin: 0;
    margin-bottom: 5px;
  }