.starRatingInput {
    display: flex;
  }
  
  div i .fa-star {
    font-size: 2rem;
    color: gold;
    transition: color 0.2s;
    cursor: pointer;
  }
  
  div i .fa-star:hover,
  .fa-star.fas {
    color: gold;
  }
  
  div i .fa-star.hover {
    color: gold;
  }
  